streamlit
langchain
langchain-community
langchain-groq
llama_index
llama-index-llms-langchain
llama-index-llms-groq
pypdf
python-dotenv
groq
llama-index-embeddings-huggingface
sentence-transformers
torch
